/*
main background : #F3F3F3; 
upper bar background : #372B2B; 
buttons  up : #F1F1F1;
buttons down : #E2E2E2;
borders for text input and buttons and search boxes : #DFDFDF ; 
color 1 : #969696
color 2 : #
*/
.title
{
    font-size: 24px;
    color: #372B2B;
    text-decoration: none;
}

.title:hover
{
    text-decoration: underline;
}

.subtitle
{
    margin-bottom: 10px;
    color: #939393;
    font-size: 12px;
}

.contentwrapper .answerbox .relateTable
{
    margin: auto;
    border: collapse;
    margin: auto;
    margin-bottom: 20px;
}

.contentwrapper .answerbox .relateTable .imgcontainer
{
    /*height:70px;     width:70px; */
    margin: auto;
    -webkit-box-shadow: 0px 0px 1px 1px #adadad;
    box-shadow: 0px 0px 1px 1px #adadad;
    background-color: #F3F3F3;
    padding: 3px;
    margin: 10px;
}

.contentwrapper .answerbox .relateTable img
{
    /*max-width: 70px;*/
    max-height: 70px;
    margin: 0 auto;
}

.contentwrapper .answerbox .relateTable td
{
    text-align: center;
    max-width: 200px;
    margin-bottom: 10px;
}

.contentwrapper .answerbox .relateTable td a
{
    color: #939393;
    text-decoration: none;
    font-size: 12px;
}
.contentwrapper .answerbox .relateTable td a:hover
{
    text-decoration: underline;
}

.answerbox .RelationDiagram .canvascontainer
{
    position: relative;
}

.answerbox .RelationDiagram .playButton
{
    background-image: url('../img/pauseIcon.png');
    position: absolute;
    bottom: 10px;
    right: 0px;
    
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    display: block;
    opacity:0.6;
}
.answerbox .RelationDiagram .loading
{
    position: absolute;
    bottom: 25px;
    right: 60px;
}


#viewport
{
    -webkit-box-shadow: 0px 0px 1px 1px #adadad;
    box-shadow: 0px 0px 1px 1px #adadad;
    background-color: #F3F3F3;
    padding: 3px;
    margin: 10px;
}

.playandpause
{
    background-color: Black;
}
